{% extends 'layout.html' %}

{% block head %}
    <title>Játék</title>
{% endblock %}


{% block content %}
    <div>
        <h4>Hány szóval szeretnéd próbára tenni magad?</h4>
                    <select class="form-control" name="row-num">
                    {% for num in range(10, 51) %}
                        <option value="{{ num }}">{{ num }}</option>
                    {% endfor %}
                </select>
    </div>
    <div class="card">
        <img src="\static\img\wise_owl.png" alt="Avatar">
        <div class="container">
            <p><b>Bagoly</b></p>

        </div>
    </div>
    <div class="card">
        <div class="container" draggable="true" id="new_word">
            {% for word in words %}
            <div class="word"><b>{{ word }}</b></div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <img src="\static\img\greeting_parrot.png" alt="Avatar">
        <div class="container">
            <p><b>Papagáj</b></p>

        </div>
    </div>

{% endblock %}